* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;  
}

.container-cv {
  display: flex;
  flex-direction: row;
  border: 1px solid darkgray;
}