* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;  
}

.container-cv {
  display: flex;
  flex-direction: row;
  border: 1px solid darkgray;
}

.content, .info {
  border: 1px solid red;
}

.about, .education, .expirience, .code, .lang {
  border: 1px solid rgb(106, 59, 194);
}

.profile {  
  border: 1px solid rgb(23, 134, 56);

}