* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; 
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-between;
  min-height: 100vh;
  width: 960px;
  margin: 0 auto;
  border: 1px solid gray;  
}

/*
.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
*/
.header, .footer {
  min-height: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
 /* min-height: calc(100vh-40vh);*/
  border: 1px solid darkgray;
}


.left {
  min-width: 30%;
  background-color: rgb(64, 64, 64);
}

/**************************** Start Profile ***************************/

.profile{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
   padding-top: 20px;
}

.profile-image {
  display: block;
  margin: 0 auto; 
  border: 1px solid white;
  border-radius: 50px;

}

.profile-h1 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(237, 27, 52);
}

.profile-h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(252, 252, 252);
}

/************************** End Profile *****************************/

/************************ Start Contact *****************************/

.contact, .skills {margin: 15px 0;}

.contact-h3, .skills-h3 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(252, 252, 252);
}

.contact-h3::after {
  width: 30%;
  border-top: 3px solid red;  
}

.contact-item{
  list-style: none;
  padding: 10px 0 10px 25px;
}

.contact-link:link {
  text-decoration: none;
  color: rgb(0, 0, 175);
}

.contact-link:visited {
  color:rgb(138, 43, 226);
}

.contact-link:hover {
  color: rgb(255, 255, 255);
}


/************************* End Contact *****************************/
/************************ Start Skills *****************************/


/************************* End Skills ******************************/



.left, .right, .profile, .profile-figure, .profile-image, h1, h2, h3 {
  border: 1px solid rgb(195, 212, 43);  
}

.skills {
  border: 1px solid rgb(80, 43, 212);  
}

.contact, .contact-h3, .contact-item, .contact-list {
  border: 1px solid rgb(43, 212, 119);
}

.content, .info {
  border: 1px solid red;
}

.about, .education, .expirience, .code, .lang {
  border: 1px solid rgb(106, 59, 194);
}

.profile, .contact, .skills {  
  border: 1px solid rgb(23, 134, 56);

}