* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.header, .footer {
  background-color: #f3f3f3;
}

.nav-list{
  list-style-type: none;  
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin: 15px 5px;
}


.nav-link:link{
  text-decoration: none;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 10px;
  position: relative;
  /*cursor: pointer;*/
  line-height: 1px;
}

.nav-link:visited { color: #900; }
.nav-link:active {color: #B2F511; }
.nav-link:hover {color: green;}

.nav-link::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s ease-out;
}
/*
.nav-link:hover,
.nav-link:focus {
  background-color:rgb(206, 206, 206);
}
*/

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*min-height: 100vh;*/
  width: 960px;
  margin: 15px auto;
  box-shadow: 20px 40px 15px rgb(230, 230, 230);
}

/*.header, .footer {
  min-height: 20px;
  
}*/

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
/*  border: 1px solid darkgray;*/
}

.left {
  min-width: 30%;
  background-color: rgb(64, 64, 64);
}

/**************************** Start LEFT column ***************************/

.profile{padding-top: 50px;}

.profile-image {
  display: block;
  filter: grayscale(100%);
  margin: 0 auto; 
  border-radius: 50px;
}

.left-header {
  font-size: 16px;
  color: rgb(252, 252, 252);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
}

.profile-main-header {
  padding-top: 30px;
  font-size: 24px;
  color: rgb(237, 27, 52);
}

.surname {letter-spacing: 5px;}

.profile-header {
  font-weight: 400;
  padding: 5px 0 20px 0;
}

.contact-header, .skills-header {
  font-size: 16px;
  padding-bottom: 10px;
 }

.contact, .skills {padding: 45px 0;}

.contact-item, .skills-item {
  list-style: none;
  padding: 10px 0 10px 25px;
}

.skills-list {
  padding-left: 20px;
}

.contact-link,
.skills-item {
  text-decoration: none;
  padding: 10px 40px;
  background-size: auto 30px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  color: rgb(255, 255, 255);
}

.mail-link {background-image: url(assets/img/icon-mail.svg);}

.github-link {background-image: url(assets/img/icon-github.svg);}

.discord-link {background-image: url(assets/img/icon-discord.svg);}

.instagram-link {background-image: url(assets/img/icon-instagram.svg);}

.contact-link:hover {color:rgb(0, 0, 255);}


/************************* End Contact *****************************/
/************************ Start Skills *****************************/
.skills-item {
  color: white;
}

.html-item {
  background-image: url(assets/img/icon-html.svg);
}
.css-item {
  background-image: url(assets/img/icon-css.svg);
}

.js-item {
  background-image: url(assets/img/icon-js.svg);
}

.git-item {
  background-image: url(assets/img/icon-github.svg);
}

/************************* End Skills ******************************/

/***************************** RIGHT ******************************/

.right {
  /*padding: 0 0 15px 25px;*/
  color: rgb(151,152,154);
  background-color: #ffffff;
}

.right > section {
  padding: 0 25px;
}

.about-header,
.education-h2, 
.expirience-h2, 
.code-h2, 
.lang-h2, .intresting-h2 {
  margin-top: 30px;
  /*padding-bottom: 5px;*/
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(198, 199, 201);
}

.about-header::after,
.education-h2::after, 
.expirience-h2::after, 
.code-h2::after, 
.lang-h2::after, 
.intresting-h2::after {
    display: block;
    position: relative;
    left: 0; 
    top: 3px;
    width: 40px;
    height: 6px;
    background-color: rgb(237, 27, 52);
    content: "";
  }

.about-paragraph,
.expirience-paragraph {
  padding-top: 15px ;
  text-align: justify;
  line-height: 23px;
  /*letter-spacing: 1px;*/
  word-spacing: 4px;
  
}

.education-table {
  word-spacing: 4px;
}

.education-td11, .education-td31 {
  width: 50%;
  height: 50px;
  padding: 15px 25px 0px 15px;
  vertical-align: top;
  text-align: left;
  word-spacing: 4px;
}

.education-td12, .education-td32 {
    word-spacing: 4px;
}

.education-td21, .education-td41 {
  padding: 15px 25px 0px 15px;
  vertical-align: top;
  text-align: left;
}

/*********************** Start Code*******************/

/*********************** End Code *******************/

/*********************** Start Lang*******************/
.lang-list {
  list-style-type: none;
  padding: 15px 25px;
}

.lang-item {
  font-size: 18px;
  padding: 5px 0;
}
/*********************** End Lang *******************/

.footer {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin-top: 30px;
  /*height: 60px;*/
}

.footer-link {
  padding: 25px 50px;
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: rgb(255, 255, 255);
}


.rsschool-link {
  background-image: url('assets/img/rsschool.svg');
  background-size: 60px auto;
  /*background-repeat: no-repeat;
  background-position: 100% 50%; */
  
}